APP_NAME=Jeronimo Dé
APP_ENV=production
DATABASE_URL=${{Postgres.DATABASE_URL}}
SECRET_KEY=cambiar-por-una-clave-larga-y-privada
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CORS_ORIGINS=*
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
PUBLIC_APP_URL=https://tu-servicio.railway.app
BACKUP_ENABLED=true
